<a href="https://colab.research.google.com/github/harikrishna0007/606-Capstone-Project/blob/main/Web%20Scrapping/Web_Scrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install beautifulsoup4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.9/dist-packages (4.11.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4) (2.4)

In [2]:
pip install python3-bs4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement python3-bs4 (from versions: none)
ERROR: No matching distribution found for python3-bs4

In [3]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import lxml.html as lxl
import numpy as np

In [14]:
%%time
make=[]
model=[]
trim=[]
year = []
mileage = []
location = []
transmission=[]
drive_type=[]
price = []
exterior_color=[]
interior_color=[]
vehicle_history=[]
MPG_city=[]
MPG_highway=[]
VIN=[]
accidents =[]
owners=[]
car_usage_type=[]
fuel_type=[]


filename = 'original_data'

for i in range (1,3):
    
    
    base_url = 'https://www.truecar.com/used-cars-for-sale/listings/'
    
    url = base_url + '?page=' + str(i)
    
    
    req = requests.get(url)

    soup = BeautifulSoup(req.text,'html.parser')

    output_details=soup.find_all('div', {'class': 'card-content order-3 vehicle-card-body'})
    #print(output_details)
    
    
    for output in output_details:
    
 
        current_car = output.find('span',{'class':"truncate"}).get_text()
        #print(current_car)
  
        try:
            make.append(current_car.split(' ')[0])
        except:
            make.append('n/a')
    
        try:
            model.append(current_car.split(' ')[1:])
        except:
            model.append('n/a')
    
        try:
            trim.append(output.find('div',{'data-test':"vehicleCardTrim"}).get_text())
        
        except:
            trim.append('n/a')
    
        try:
            year.append(output.find('span',{'class':"vehicle-card-year text-xs"}).get_text())
        except:
            year.append('n/a')
        
          
        

        try:
            cur_mlg=output.find('div',{'data-test':"vehicleMileage"}).get_text()
            mileage.append(cur_mlg.split(' ')[0])
        except:
            mileage.append('n/a')
    
        
        try:
            location.append(output.find('div',{'data-test':"vehicleCardLocation"}).get_text())
        except:
            location.append('n/a')    
        
    

        try:
            pr=output.find('div',{'data-test':"vehicleListingPriceAmount"}).get_text()
            price.append(pr.split('$')[1])
        except:
            price.append('n/a')
        
       
        clr=output.find('div',{'data-test':"vehicleCardColors"}).get_text()
        

        
        try:
            exterior_color.append(clr.split(',')[0].split(' ')[0])
        except:
            exterior_color.append('n/a')
    
        try:
            interior_color.append(clr.split(',')[1].split(' ')[0])
        except:
            interior_color.append('n/a')

        vhkl_hist=output.find('div',{'data-test':"vehicleCardCondition"}).get_text()
        
        
        try:
            acc=vhkl_hist.split(',')[0].split(' ')[0]
            if acc == 'No':
                accidents.append('0')
            else:
                accidents.append(acc)
        except:
            accidents.append('n/a')
        
        try:
            owners.append(vhkl_hist.split(',')[1].split(' ')[1])
        except:
            owners.append('n/a')
        
        try:
            car_usage_type.append(vhkl_hist.split(',')[2])
        except:
            car_usage_type.append('n/a')
            
        try:
            VIN.append((output.find('div',{'class':"vehicle-card-vin-carousel-challenger mt-1 text-xs"}).get_text()).split('VIN')[1])
        except:
            VIN.append('n/a')

CPU times: user 577 ms, sys: 12.4 ms, total: 590 ms
Wall time: 3.67 s

In [15]:
Used_Cars = pd.DataFrame({'VIN':VIN,'brand': make, 'model': model, 'trim' : trim, 'manufacture_year': year,
                          'mileage':mileage,
                          'exterior_color' : exterior_color, 'interior_color' : interior_color,'accidents':accidents,
                          'owners':owners,'car_usage_type':car_usage_type, 'location':location,'price': price})

In [16]:
print(Used_Cars)

                  VIN      brand                 model  \
0   19XFC2F84ME002809      Honda               [Civic]
1   1FM5K8DH1HGA84925       Ford            [Explorer]
2   JF2GPAGC6E8285880     Subaru       [XV, Crosstrek]
3   2T1BURHE1KC155022     Toyota             [Corolla]
4   1FT7W2B64KEF41553       Ford  [Super, Duty, F-250]
..                ...        ...                   ...
58  2GNAXUEV9K6153053  Chevrolet             [Equinox]
59  1FTEW1E51LFB01547       Ford               [F-150]
60  1FTEW1EG3JKE17697       Ford               [F-150]
61  1FTEW1EG4LFB39808       Ford               [F-150]
62  1FTFW1E51MKE59938       Ford               [F-150]

                              trim manufacture_year  mileage exterior_color  \
0                  Sport Sedan CVT             2021   38,542           Blue
1                          XLT 4WD             2017   80,551          Black
2           2.0i Limited Automatic             2014   64,749           Gray
3                           LE CVT             2019  187,561          White
4    Lariat 4WD Crew Cab 6.75' Box             2019   82,723          White
..                             ...              ...      ...            ...
58                 LT with 1LT AWD             2019   36,179          White
59   Lariat SuperCrew 5.5' Box 4WD             2020   21,041          White
60      XLT SuperCrew 5.5' Box 4WD             2018  116,233          White
61  Limited SuperCrew 5.5' Box 4WD             2020   67,819          White
62      XLT SuperCrew 5.5' Box 4WD             2021   10,244          White

   interior_color accidents owners car_usage_type            location   price
0                         0      1   Personal use           Tracy, CA  22,898
1                         0      2   Personal use  Fairless Hills, PA  22,570
2                         3      1   Personal use        Hazelton, PA  17,999
3                         1      1   Personal use           Macon, GA  11,000
4                         0      3   Personal use    Rock Springs, WY  42,750
..            ...       ...    ...            ...                 ...     ...
58                        0      1   Personal use      Walnutport, PA  18,900
59                        1      1   Personal use    Collinsville, IL  47,995
60                        2      3   Personal use     Cedar Falls, IA  22,500
61                        0      1   Personal use    Martinsville, IN  53,988
62                        0      1   Personal use            Ivel, KY  45,000

[63 rows x 13 columns]

In [17]:
Used_Cars.to_csv("{}.csv".format(filename))
df = pd.read_csv('original_data.csv', index_col=0)